# ML models folder
/ml/ @1825Vaishnavi @Ankit-Kumar-Sahoo @Nikhil20012 @ramg-0903 @pvvishwesh-lang @Aryan16d

# Data engineering folder
/backend/ @1825Vaishnavi @Ankit-Kumar-Sahoo @Nikhil20012 @ramg-0903 @pvvishwesh-lang @Aryan16d

# Frontend folder
/frontend/ @1825Vaishnavi @Ankit-Kumar-Sahoo @Nikhil20012 @ramg-0903 @pvvishwesh-lang @Aryan16d
