# ML models folder
/ml/ @Nikhil20012 @ramg-0903 @Ankit-Kumar-Sahoo

# Data engineering folder
/backend/ @pvvishwesh-lang @Aryan16d @1825Vaishnavi

# Frontend folder
/frontend/ @1825Vaishnavi @Ankit-Kumar-Sahoo 
